%h1 EasyData
%br
%p#info We provide an easy to use API to help you track events in your web application. The service is totally free.
%br

%p= link_to "Sign up to start", new_user_registration_path, class: "btn btn-primary btn-lg"

